<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fei.demo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3ade752c721fba74113eebb1c4c95333" />

        <activity android:name=".module.startpage.StartPageActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".module.startpage.FirstPageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.WelcomeActivity"/>
        <activity android:name=".activity.SocketActivity"/>
        <activity android:name=".activity.UartActivity"/>
        <activity android:name=".activity.AsyncHttpActivity"/>
        <activity android:name=".activity.CmdActivity"/>
        <activity android:name=".activity.SeekBarActivity"/>
        <activity android:name=".activity.GpsActivity"/>
        <activity android:name=".activity.LangActivity"/>
        <activity android:name=".activity.St16UpdateActivity"/>
        <activity android:name=".activity.BindCameraActivity"/>
        <activity android:name=".activity.OtaTestActivity"/>
        <activity android:name=".activity.ThreadActivity"/>
        <activity android:name=".module.startpage.QRcodeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".module.startpage.QRcodeZbarActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".module.startpage.MoreActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".module.startpage.ConnectSelectActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".module.startpage.RemoteControlConnectActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".module.startpage.MobilePhoneConnectActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".module.startpage.RemoteControlConnectListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.GMapActivity"/>
    </application>

</manifest>